.formulario{
    background-color: #0a1266;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    color: white;
    padding:30px;
    margin-bottom: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
    grid-template-areas: "titulo   titulo"
                         "nomApell email"
                         "tel      asunto"
                         "mensaje mensaje"
                         "button  button";
}

@media(max-width: 800px){
    .formulario{
        width: 100%;
        margin: 20px 0px;
        border-radius: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto;
        grid-template-areas: "titulo"
                             "nomApell"
                             "email"
                             "tel"      
                             "asunto"
                             "mensaje"
                             "button";


    }
}


.formulario h2{
    grid-area: titulo;
}

.formulario label:nth-child(2){
    grid-area: nomApell;
}
.formulario label:nth-child(3){
    grid-area: email;
}
.formulario label:nth-child(4){
    grid-area: tel;
}
.formulario label:nth-child(5){
    grid-area: asunto;
}
.formulario label:nth-child(6){
    grid-area: mensaje;
}
.formulario button:nth-child(7){ /*este es el boton para def prop*/
    grid-area: button;
    width: 200px;
    border-radius: 4px;
    font-size: 20px;
    color: blue;

}
.formulario label{
    display:flex;
    flex-direction: column;

}

.formulario label input , .formulario label textarea {
    background-color: transparent;  /*elimina el color de la casilla*/
    border: 0;   /*elimina el borde de la casilla*/
    border-bottom: 1px solid white;  /*hace solo la linea abajo*/
    margin-top: 10px;   /* separa arriba*/
    outline: none;
    color: white;
}
